<div class="update">
  <h1>Update Record</h1>
  <form #update="ngForm" (ngSubmit)="onSubmitUpdate(update.value)">
    <input type="text" name="id" id="id" placeholder="Id" ngModel /> <br />
    <input type="text" name="first_name" placeholder="First Name" ngModel />
    <br />
    <input type="text" name="last_name" placeholder="Last Name" ngModel />
    <br />
    <input type="email" name="email_id" placeholder="Email Id" ngModel /> <br />
    <input
      type="text"
      name="contact_number"
      placeholder="Contact No."
      ngModel
    />
    <br />
    <input type="password" name="password" placeholder="Password" ngModel />
    <br />
    <button type="submit">Update</button>
    <button type="button" routerLink="/">Cancel</button>
  </form>
</div>
