<div class="create">
  <h1>Create Record</h1>
  <form>
    <input type="text" name="first_name" placeholder="First Name" /> <br />
    <input type="text" name="last_name" placeholder="Last Name" /> <br />
    <input type="email" name="email_id" placeholder="Email Id" /> <br />
    <input type="text" name="contact_number" placeholder="Contact No." /> <br />
    <input type="text" name="password" placeholder="Password" /> <br />
    <button type="submit">Create</button>
    <button type="button" routerLink="/">Cancel</button>
  </form>
</div>
